body{
    background-image: url("../img/anniversaryposter2019.jpg");
    background-attachment: fixed;
    background-position: centergit;
    height: 300px;
    margin: 0;
    padding: 0;
}
.principal, header{
    background-color: #9fa8da;
    width: 100%;
}
#piePagina{
    background-color: #80cbc4;
    width: 20%;
    height: 100%;
    margin: auto;
}
.principal{
    background-color: #f48fb1;
}
.principal, #piePagina, header{
    border: 1px #000000 solid;
    margin: 10px 5px 15px 20px;
    padding: 20px 5px 10px 15px;

}
h1, p{
    margin: 50px;
    padding: 10px;
    text-align: center;
}
p{
    text-align: justify;
}
#piePagina{
    margin: auto;
}